<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Info</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Author Info</h2>
    <div class="navigation">
        <a class="btn btn-secondary" href="allBooksPage.html" th:href="@{/}">Main Page</a>
    </div>

    <div class="author-info ">
        <hr>
        <p><strong>ID:</strong> <span th:text="${author.id}">123</span></p>
        <p><strong>Name:</strong> <span th:text="${author.fullName}">AuthorName</span></p>

    </div>
</div>

</body>
</html>