<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Comment</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Add Comment to Book: <span id="book-title">Book Title</span></h1>

    <div class="navigation">
        <a class="btn btn-secondary" href="/" id="main-page-link">Main Page</a>
    </div>

    <form id="comment-form">
        <div class="form-group">
            <label for="commentText">Your Comment:</label>
            <textarea id="commentText" name="text" required></textarea>
            <input id="comment-id" name="commentId" type="hidden">
            <input id="book-id" name="bookId" type="hidden">
        </div>

        <div class="action-buttons" style="display: flex; gap: 10px;">
            <button class="btn btn-edit" id="save-btn" type="button">
                Submit Comment
            </button>
            <a class="btn btn-secondary" href="#" id="cancel-btn"
               style="padding: 8px 16px; line-height: 1.5; text-align: center;">
                Cancel
            </a>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", fillPage);

    //Кнопки
    ////Отмена
    document.getElementById('cancel-btn').addEventListener('click', function () {
        const book = document.getElementById('book-id').value;
        window.location.href = `/book?id=${book}`;
    })
    ////Сохранить
    document.getElementById('save-btn').addEventListener('click', async (e) => {
        e.preventDefault();

        const formData = new FormData(document.getElementById('comment-form'));
        const commentData = {
            text: formData.get('text'),
            id: formData.get('commentId'),
            book: {id: formData.get('bookId')}
        };

        const method = commentData.id ? 'PUT' : 'POST';
        const url = commentData.id ?
            `/api/v1/comments/${commentData.id}` :
            `/api/v1/comments`;

        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(commentData)
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = `/book?id=${commentData.book.id}`;
                } else {
                    throw new Error('Failed to save comment');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error saving comment');
            });
    });

    function fillPage() {
        //Парсим путь
        //Варианты
        //- "/comment/add_to_book/{id}"
        //- "/comment/edit/{id}"
        const pathParts = window.location.pathname.split('/');

        let commentId;
        let bookId;
        if (pathParts[2] === 'edit') {
            commentId = pathParts[3];
        } else {
            bookId = pathParts[3];
        }

        //Добавляем комментарий к книге
        if (bookId) {
            //Установим ID книги в скрытое поле
            document.getElementById('book-id').value = bookId;
            getBookInfo(bookId);
        }

        //Редактируем комментарий
        if (commentId) {
            getCommentInfo(commentId);
        }
    }

    async function getCommentInfo(id) {
        const response = await fetch(`/api/v1/comments/${id}`);
        if (response.ok) {
            const comment = await response.json();
            //Установим ID коммента и книги в скрытые поля
            document.getElementById('comment-id').value = id;
            document.getElementById('book-id').value = comment.book.id;
            //Данные
            document.getElementById('commentText').value = comment.text;
            document.getElementById('book-title').textContent = comment.book.title;
        } else {
            const error = await response.json();
            console.error('Error loading comment:', error.message);
            alert(`Status: ${error.code}. Message: ${error.message}`);
        }
    }

    async function getBookInfo(id) {
        const response = await fetch(`/api/v1/books/${id}`);
        if (response.ok) {
            const book = await response.json();
            document.getElementById('book-title').textContent = book.title;
        } else {
            const error = response.json();
            console.error('Error loading book:', error.message);
            alert(`Status: ${error.code}. Message: ${error.message}`);
        }
    }

</script>

</body>
</html>